@model dynamic

@{
	ViewBag.Title = "Hello in many languages!";
}

<h2>Hello in many languages</h2>

<ul style="background-color:cyan">
	<li><a href="~/Hello.html">Static Html</a></li>
	<li><a href="~/Hello.cshtml">Razor</a></li>
	<li><a href="~/Hello.asp">Classic ASP</a></li>
	<li><a href="~/Hello.aspx">ASP.NET Web Forms</a></li>
	<li><a href="~/Hello.js">Node.js</a></li>
	<li><a href="~/Hello.php">PHP</a></li>
	<li><a href="~/Hello.py">Python</a></li>
</ul>