   <!--<div ng-controller="Summary">
        Total Jobs {{data.length}}
    </div>-->
    <div>
        <input type="text" name="search" ng-model="search.job_desc " />
        <table class="table table-striped">
            <!--     <tr ng-repeat="n in Jobs | filter:search | orderBy:'job_desc' | limitTo:-5">-->
            <tr ng-repeat="n in Jobs | filter:search | orderBy:'job_desc'">
                <td>{{n.job_id }}</td>
                <td>{{n.job_desc}}</td>
                <td>{{n.min_lvl | currency}}</td>
                <td>{{n.max_lvl}}</td>
            </tr>
        </table>
    </div>
